# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
list = [1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
list2 = [10,20,30,40,'oi']
list2

[10, 20, 30, 40, 'oi']

In [5]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
str1 = 'Bom dia '
str2 = 'DSA'
str3 = str1 + str2
str3

'Bom dia DSA'

In [7]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
tpl.count(4)

3

In [14]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {'chave1':'valor1', 'chave2':'valor2', 'chave3':3}
dic

{'chave1': 'valor1', 'chave2': 'valor2', 'chave3': 3}

In [15]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dic['chave4'] = 4
dic

{'chave1': 'valor1', 'chave2': 'valor2', 'chave3': 3, 'chave4': 4}

In [36]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq1 = open("nomes.txt", "w")
arq1.write('Brian, Peter, John, Eric, Bernard')
arq1.close()

In [37]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq1 = open("nomes.txt", "r")
arq1.read()

'Brian, Peter, John, Eric, Bernard'

In [35]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dic = {}
dic

{}

In [38]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"
df = pd.read_csv(file_name)
df.tail()

     admit  gre   gpa  rank
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>